version: '3.8'

services:
  postgres:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: seu_usuario
      POSTGRES_PASSWORD: sua_senha
      POSTGRES_DB: nome_do_banco
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: